/* buttons */

    .button{display: inline-block;max-width: 170px;width: 100%;position: relative;height: 40px;line-height: 39px;font-size: 14px;color:#fff;text-transform: uppercase;font-weight: 800;border:none;border-radius: 0px;background-color: #ac1818;top:0;cursor:pointer;transition:background-color 300ms ease, top 300ms ease;
        &:hover{background-color: orange;}
        &:active{top: 2px;}
    }

/* /buttons */

/* breadcrumbs */

    .breadcrumbs{font-weight: 500;margin-bottom: 20px;padding-top: 25px;
        li{display: inline-block;font-size: 14px;color:#575757;padding-right: 15px;margin-right:5px;position: relative;
            &:before{content: '';display: block;position: absolute;right:0;top:calc(50% - 5px);width: 6px;height: 10px;background-image:url(../images/arrow.png);background-repeat: no-repeat;}
            &:last-child{padding-right: 0;margin-right: 0;
                &:before{display: none;}
            }
            a{position: relative;text-decoration: none;color:#575757;transition:color 300ms ease;
                &:after{content: '';display: block;position: absolute;top: 100%;left:0;height: 1px;width: 0;background-color:#575757;transition:background-color 300ms ease, width 300ms ease;}
                &:hover{color:orange;
                    &:after{width: 100%;background-color:orange;}
                }
            }
        }
    }

/* /breadcrumbs */

/* titles */

    .title{font-weight: 800;font-size: 24px;color:#070707;margin-bottom: 10px;
        &.title-uppercase{font-size: 16px;text-transform: uppercase;font-weight: 500;}
    }

/* /titles */

/* text-block */

    .text-block{font-weight: 500;font-size: 14px;color:#070707;line-height: 26px;
        h6{font-weight: 800;font-size: 24px;margin-bottom: 15px;line-height: 30px;}
        p{
            b{display: inline-block;width:calc(33.33% - 3px);padding: 15px 5px;text-align: center;
                &:first-child{padding: 15px 10px 15px 0;text-align:left;}
                &:last-child{padding: 15px 0 15px 10px;text-align: right;}
                a{display: inline-block;position: relative;text-decoration: none;
                    &:before, &:after{content: '';display: block;position: absolute;}
                    &:before{left: 0;top:0;right: 0;bottom: 0;background-color: rgba(0,0,0, .6);opacity:0;transition:opacity 300ms ease;}
                    &:after{background-image:url(../images/loop.png);width: 40px;height: 40px;background-repeat: no-repeat;left: calc(50% - 20px);top:calc(50% - 20px);}
                    &:hover{
                        &:before{opacity:1;}
                    }
                }
            }
        }
    }

/* /text-block */

/* main-texter */

    .main-texter{padding: 40px 0 40px 0;background-color: #faf8f6;
        .title{margin-bottom: 35px;}
        .text-block{font-weight: 400;line-height: 22px;}
        .main-texter-main{display: inline-block;width: calc(100% - 250px);vertical-align: top;}
        .main-texter-images{display: inline-block;width: 240px;vertical-align: top;
            .main-texter-image-wrap{margin-bottom: 50px;text-align: right;
                &:last-child{margin-bottom: 0;}
            }
        }
    }

/* /main-texter */

/* footer */

    .footer{
        .footer-wrap{border-top: 4px solid #080707;padding:25px 0 25px 0;background-color:#fff;}
        .footer-left{float: right;width: calc(100% - 300px);font-weight: 400;font-size: 12px;color:#000000;text-align: right;
            .footer-contacts{display: inline-block;vertical-align: top;margin-right: 25px;
                &:last-child{margin-right: 0;}
                a{text-decoration: none;color:#000000;position: relative;transition:color 300ms ease;
                    &:after{content: '';display: block;position: absolute;top:100%;left:0;height: 1px;background-color:#000;transition:background-color 300ms ease, width 300ms ease;}
                    &:hover{color:orange;
                        &:after{background-color: orange;}
                    }
                }
                &.footer-tel{
                    a{
                        &:after{width: 0;}
                        &:hover{
                            &:after{width: 100%;}
                        }
                    }
                }
                &.footer-mail{
                    a{
                        &:after{width: 100%;}
                        &:hover{
                            &:after{width: 0;}
                        }
                    }
                }
            }
        }
        .footer-right{float: left;font-weight: 400;font-size: 12px;color:#000000;
            .footer-right-text{margin-right: 10px;vertical-align: middle;display: inline-block;margin-bottom: -2px;}
            .footer-right-img{vertical-align: middle;display: inline-block;}
        }
    }

/* /footer */

/* contacts */

    .contacts{
        .contacts-main{padding-bottom: 50px;}
        .contacts-line{margin-bottom: 10px;font-size: 12px;color:#000;font-weight: 400;
            &:last-child{margin-bottom: 0;}

            .contacts-icon{width: 13px;height: 12px;display: inline-block;margin-right: 5px;position: relative;
                &:before, &:after{content: '';display: block;position: absolute;top:0;bottom: 0;left: 0;right: 0;background-repeat: no-repeat;background-position: center center;transition:opacity 300ms ease;}
                &:after{z-index: 1;opacity: 0;}
                &.contacts-street-icon{
                    &:before{background-image:url(../images/contacts-street-icon.png);}
                    &:after{background-image:url(../images/contacts-street-icon-hover.png);}
                }
                &.contacts-tel-icon{
                    &:before{background-image:url(../images/contacts-tel-icon.png);}
                    &:after{background-image:url(../images/contacts-tel-icon-hover.png);}
                }
                &.contacts-mail-icon{
                    &:before{background-image:url(../images/contacts-mail-icon.png);}
                    &:after{background-image:url(../images/contacts-mail-icon-hover.png);}
                }
            }

            .contacts-text{position: relative;}
            a{text-decoration: none;color:#000;
                .contacts-text{position: relative;transition:color 300ms ease;
                    &:after{content: '';display: block;position: absolute;left: 0;top:100%;height: 1px;background-color: #000;transition:background-color 300ms ease, width 300ms ease;}
                }
                &:hover{
                    .contacts-icon{
                        &:before{opacity: 0;}
                        &:after{opacity: 1;}
                    }
                    .contacts-text{color:orange;
                        &:after{background-color: orange;}
                    }
                }
            }

            &.contacts-mail{
                a{
                    .contacts-text{
                        &:after{width: 100%;}
                    }
                    &:hover{
                        .contacts-text{
                            &:after{width: 0px;}
                        }
                    }
                }
            }
            &.contacts-tel{
                a{
                    .contacts-text{
                        &:after{width: 0px;}
                    }
                    &:hover{
                        .contacts-text{
                            &:after{width: 100%;}
                        }
                    }
                }
            }
        }

        .contacts-map{padding-top: 25px;margin-bottom: 30px;
            #contacts-map{width: 100%;height: 240px;}
        }

    }

/* /contacts */

/* form */

    .form{
        .form-row-wrap{margin-bottom: 30px;
            &:after{content:'';clear: both;display: block;}
            &.form-col-2{
                .form_row{width: 50%;float: left;
                    &:first-child{padding-right: 15px;}
                    &:last-child{padding-left: 15px;}
                }
            }
            &.submit-row{margin-bottom: 0;}
        }
        .form_input{
            input{width: 100%;background-color: #f3f3f3;border:1px solid #f3f3f3;height: 40px;line-height: 40px;padding: 0 15px;font-family:'AvenirNext',arial;color:#000;font-size: 14px;transition:border-color 300ms ease, box-shadow 300ms ease, color 300ms ease;
                &.error{border-color: #ac1818;color:#ac1818;box-shadow:0 0 5px 0 rgba(172, 24, 24, .75);
                    &::-webkit-input-placeholder{color:#ac1818;}
                    &:-moz-placeholder{color:#ac1818;}
                    &::-moz-placeholder{color:#ac1818;}
                    &:-ms-input-placeholder{color:#ac1818;}
                }
            }
            textarea{width: 100%;resize:none;height: 165px;padding: 5px 15px;background-color: #f3f3f3;border-color: #f3f3f3;font-family:'AvenirNext',arial;color:#000;font-size: 14px;transition:border-color 300ms ease, box-shadow 300ms ease, color 300ms ease;}
            .errorText{display: none!important;}
        }
    }

/* /form */

/* contact-popup */

    .backcall-popup-fancybox{max-width: 420px;width: 100%!important;
        .fancybox-inner{width: 100%!important;}
        .fancybox-close{width: 30px;height: 30px;background-image:none;right: 10px;top: 10px;border-radius: 50%;transition:background-color 300ms ease;
            &:before, &:after{content: '';position: absolute;display:block;width: 20px;height: 1px;background-color: #757575;top: calc(50% - 1px);left: calc(50% - 10px);transition:background-color 300ms ease, transform 300ms ease;}
            &:before{transform:rotate(45deg);transform-origin:50% 0;}
            &:after{transform:rotate(-45deg);transform-origin:50% 100%;}
            &:hover{background-color:#ac1818;
                &:before, &:after{background-color: #fff;}
                &:before{transform:rotate(405deg);}
                &:after{transform:rotate(315deg);}
            }
        }
    }

    .call-popup{width: 100%;padding: 25px 35px 45px 35px;background-color: #ffffff;border-radius: 5px;
        .title{text-align: center;padding-bottom: 20px;margin-bottom:30px;position: relative;
            &:after{content: '';display: block;position: absolute;top:100%;width: calc(100% + 70px);left: -35px;height: 1px;background-color: #d0d0d0;}
        }
        .button{max-width: 100%;border-radius: 5px;height: 46px;line-height: 45px;background-color: #d24a43;font-size: 16px;
            &:hover{background-color: orange;}
        }

        /* contact-popup-form */

        .form{
            .form-row-wrap{margin-bottom: 20px;
                &:last-child{margin-bottom: 0;}
            }
            .form_input{
                input{height: 43px;line-height: 42px;border-color: #d1d1d1;background-color: #fff;box-shadow:inset 0 0 6px 0px rgba(0, 0, 0, .28);border-radius: 5px;
                    &.error{border-color: #ac1818;box-shadow:0 0 5px 0 rgba(172, 24, 24, 0.75), inset 0 0 6px 0px rgba(172, 24, 24, .28);}
                }
            }
        }

        /* /contact-popup-form */
    }

/* /contact-popup */

/* gallery-works */

    .gallery-works-wrap{margin-left: -10px;margin-right:-10px;margin-bottom: 75px;
        &:after{content:'';display: block;clear: both;}
        .gallery-works-main-img{height: 300px;overflow: hidden;position: relative;width: calc(33.33% - 23px);display:inline-block;margin:0 10px 20px 10px;vertical-align: top;
           a{
                &:before, &:after{content: '';display: block;position: absolute;transform:scale(0) translateZ(0);transition:transform 300ms ease;}
                &:before{z-index: 1;top: 0;left: 0;right: 0;bottom: 0;background-color:rgba(0, 0, 0, .7);}
                &:after{top:calc(50% - 20px);left:calc(50% - 20px);background-image:url(../images/loop.png);width: 40px;height: 40px;z-index: 2;}
            }
            img{max-width: none;position: absolute;left:50%;top: 50%;transform:translate(-50%, -50%);}
            &:last-child{margin-bottom: 0;}
            &:hover{
                a{&:before, &:after{transform:scale(1) translateZ(0);}}
            }
        }
    }
    .paginator{text-align: center;
        .paginator-item{display: inline-block;vertical-align: middle;
            a{color:orange;text-decoration: none;font-size: 14px;font-weight: 600;transition:color 300ms ease;
                &:hover{color:#000;}
            }
            &.prev-page, &.next-page{
                &.disable{display:none;}
                a{position: relative;display: inline-block;
                    &:before, &:after{content: '';display: block;position: absolute;width: 10px;height: 2px;background-color: orange;transform-origin:50% 0;transition:background-color 300ms ease;}
                    &:before{top:calc(50% - 3px);}
                    &:after{top:calc(50% + 3px);}
                    &:hover{
                        &:before, &:after{background-color: #000;}
                    }
                }
            }
            &.prev-page{margin-right: 5px;
                a{padding-left: 15px;
                    &:before, &:after{left: 0;}
                    &:before{transform:rotate(-45deg);top:calc(50% - 4px);}
                    &:after{transform:rotate(45deg);top:calc(50% + 2px);left:1px;}
                }
            }
            &.next-page{margin-left: 5px;
                a{padding-right: 15px;
                    &:before, &:after{right:0;}
                    &:before{transform:rotate(45deg);}
                    &:after{transform:rotate(-45deg);right:1px;}
                }
            }
        }
        .paginator-wrap{
            li{display: inline-block;margin: 0 2px;color:#000;font-weight: 700;}
            a{font-weight: 700;}
        }
    }

/* /gallery-works */

/* design text */

    .design-text{position: relative;padding-right: 130px;
        .design-text-wrap{margin-right: -130px;}
        .designer-download-pdf{position:absolute;right: 0;top: 30px;text-align: center;
            a{text-decoration: none;font-size: 12px;font-weight: 500;color:#000;transition:color 300ms ease;
                &:hover{color:orange;}
            }
            span{display: block;}
            img{max-width: 40px;}
            .designer-download-pdf-img{margin-bottom:5px;}
        }
    }

/* /design text */
