/* breadcrumbs */

    .breadcrumbs{font-weight: 500;margin-bottom: 20px;
        li{display: inline-block;font-size: 14px;color:#575757;padding-right: 15px;margin-right:5px;position: relative;
            &:before{content: '';display: block;position: absolute;right:0;top:calc(50% - 5px);width: 6px;height: 10px;background-image:url(../images/arrow.png);background-repeat: no-repeat;}
            &:last-child{padding-right: 0;margin-right: 0;
                &:before{display: none;}
            }
            a{position: relative;text-decoration: none;color:#575757;transition:color 300ms ease;
                &:after{content: '';display: block;position: absolute;top: 100%;left:0;height: 1px;width: 0;background-color:#575757;transition:background-color 300ms ease, width 300ms ease;}
                &:hover{color:orange;
                    &:after{width: 100%;background-color:orange;}
                }
            }
        }
    }

/* /breadcrumbs */

/* titles */

    .title{font-weight: 800;font-size: 24px;color:#070707;margin-bottom: 10px;
        &.title-uppercase{font-size: 16px;text-transform: uppercase;font-weight: 500;}
    }

/* /titles */

/* text-block */

    .text-block{font-weight: 500;font-size: 14px;color:#070707;line-height: 26px;
        h6{font-weight: 800;font-size: 24px;margin-bottom: 15px;line-height: 30px;}
        p{
            b{display: inline-block;width:calc(33.33% - 3px);padding: 15px 5px;text-align: center;
                &:first-child{padding: 15px 10px 15px 0;text-align:left;}
                &:last-child{padding: 15px 0 15px 10px;text-align: right;}
                a{display: inline-block;position: relative;text-decoration: none;
                    &:before, &:after{content: '';display: block;position: absolute;}
                    &:before{left: 0;top:0;right: 0;bottom: 0;background-color: rgba(0,0,0, .6);opacity:0;transition:opacity 300ms ease;}
                    &:after{background-image:url(../images/loop.png);width: 40px;height: 40px;background-repeat: no-repeat;left: calc(50% - 20px);top:calc(50% - 20px);}
                    &:hover{
                        &:before{opacity:1;}
                    }
                }
            }
        }
    }

/* /text-block */

/* main-texter */

    .main-texter{padding: 40px 0 40px 0;background-color: #faf8f6;
        .title{margin-bottom: 35px;}
        .text-block{font-weight: 400;line-height: 22px;}
        .main-texter-main{display: inline-block;width: calc(100% - 250px);vertical-align: top;}
        .main-texter-images{display: inline-block;width: 240px;vertical-align: top;
            .main-texter-image-wrap{margin-bottom: 50px;text-align: right;
                &:last-child{margin-bottom: 0;}
            }
        }
    }

/* /main-texter */

/* footer */

    .footer{
        .footer-wrap{border-top: 4px solid #080707;padding:25px 0 25px 0;background-color:#fff;}
        .footer-left{float: right;width: calc(100% - 300px);font-weight: 400;font-size: 12px;color:#000000;text-align: right;
            .footer-contacts{display: inline-block;vertical-align: top;margin-right: 25px;
                &:last-child{margin-right: 0;}
                a{text-decoration: none;color:#000000;position: relative;transition:color 300ms ease;
                    &:after{content: '';display: block;position: absolute;top:100%;left:0;height: 1px;background-color:#000;transition:background-color 300ms ease, width 300ms ease;}
                    &:hover{color:orange;
                        &:after{background-color: orange;}
                    }
                }
                &.footer-tel{
                    a{
                        &:after{width: 0;}
                        &:hover{
                            &:after{width: 100%;}
                        }
                    }
                }
                &.footer-mail{
                    a{
                        &:after{width: 100%;}
                        &:hover{
                            &:after{width: 0;}
                        }
                    }
                }
            }
        }
        .footer-right{float: left;font-weight: 400;font-size: 12px;color:#000000;
            .footer-right-text{margin-right: 10px;vertical-align: middle;display: inline-block;margin-bottom: -2px;}
            .footer-right-img{vertical-align: middle;display: inline-block;}
        }
    }

/* /footer */