/* breadcrumbs */

    .breadcrumbs{font-family: 'AvenirNext', sans-serif;font-weight: 500;margin-bottom: 20px;
        li{display: inline-block;font-size: 14px;color:#575757;padding-right: 15px;margin-right:5px;position: relative;
            &:before{content: '';display: block;position: absolute;right:0;top:calc(50% - 5px);width: 6px;height: 10px;background-image:url(../images/arrow.png);background-repeat: no-repeat;}
            &:last-child{padding-right: 0;margin-right: 0;
                &:before{display: none;}
            }
            a{position: relative;text-decoration: none;color:#575757;transition:color 300ms ease;
                &:after{content: '';display: block;position: absolute;top: 100%;left:0;height: 1px;width: 0;background-color:#575757;transition:background-color 300ms ease, width 300ms ease;}
                &:hover{color:orange;
                    &:after{width: 100%;background-color:orange;}
                }
            }
        }
    }

/* /breadcrumbs */

/* titles */

    .title{font-weight: 800;font-size: 24px;color:#070707;margin-bottom: 10px;
        &.title-uppercase{font-size: 16px;text-transform: uppercase;font-weight: 500;}
    }

/* /titles */