@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {

    $filepath: "../fonts/" + $file;

    @font-face {
        font-family: quote($style-name);
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype'),
        url($filepath + ".svg#" + $style-name + "") format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}

/* fonts */

@include font-face('slick');
@include font-face('AvenirNext', 'AvenirNext-Bold', 700);
@include font-face('AvenirNext', 'AvenirNext-BoldItalic', 700, italic);
@include font-face('AvenirNext', 'AvenirNext-DemiBold', 800);
@include font-face('AvenirNext', 'AvenirNext-DemiBold', 800, italic);
@include font-face('AvenirNext', 'AvenirNext-Heavy', 900);
@include font-face('AvenirNext', 'AvenirNext-HeavyItalic', 900, italic);
@include font-face('AvenirNext', 'AvenirNext-Italic', 400, italic);
@include font-face('AvenirNext', 'AvenirNext-MediumItalic', 500, italic);
@include font-face('AvenirNext', 'AvenirNext-Medium', 500);
@include font-face('AvenirNext', 'AvenirNext-Regular', 400);
@include font-face('AvenirNext', 'AvenirNext-UltraLight', 300);
@include font-face('AvenirNext', 'AvenirNext-UltraLightItalic', 300, italic);

/* /fonts*/