<div class="menu-tab">
    <div class="menu-tab-mobile">
        <b>КОЛЛЕКЦИИ</b>
    </div>
    <ul>
        <li><a href="#"><span>КОЛЛЕКЦИЯ RELIF</span></a></li>
        <li><a href="#"><span>КОЛЛЕКЦИЯ GEOMETRICA</span></a></li>
        <li><a href="#"><span>КОЛЛЕКЦИЯ CANYON</span></a></li>
        <li><a href="#"><span>КОЛЛЕКЦИЯ CITY</span></a></li>
        <li><a href="#"><span>КОЛЛЕКЦИЯ 3D VISION</span></a></li>
        <li><a href="#"><span>КОЛЛЕКЦИЯ SOLID FIGURES</span></a></li>
        <li><a href="#"><span>ЭЛЕМЕНТЫ ИНТЕРЬЕРА</span></a></li>
    </ul>
</div>