<section class="gallery-works">

    <div class="breadcrumbs">
        <ul>
            <li><a href="#">Главная</a></li>
            <li>Галерея работ</li>
        </ul>
    </div>

    <h6 class="title">Галерея работ</h6>

    <div class="gallery-works-wrap">

        <div class="gallery-works-main">

            <div class="gallery-works-main-img">
                <a href="images/gallery-work-item-img1.jpg" rel="works-gallery" class="fancybox">
                    <img src="images/gallery-work-item-img1.jpg" alt="" />
                </a>
            </div>

            <div class="gallery-works-main-img">
                <a href="images/gallery-work-item-img2.jpg" rel="works-gallery" class="fancybox">
                    <img src="images/gallery-work-item-img2.jpg" alt="" />
                </a>
            </div>

            <div class="gallery-works-main-img">
                <a href="images/gallery-work-item-img3.jpg" rel="works-gallery" class="fancybox">
                    <img src="images/gallery-work-item-img3.jpg" alt="" />
                </a>
            </div>

            <div class="gallery-works-main-img">
                <a href="images/gallery-work-item-img4.jpg" rel="works-gallery" class="fancybox">
                    <img src="images/gallery-work-item-img4.jpg" alt="" />
                </a>
            </div>

            <div class="gallery-works-main-img">
                <a href="images/gallery-work-item-img5.jpg" rel="works-gallery" class="fancybox">
                    <img src="images/gallery-work-item-img5.jpg" alt="" />
                </a>
            </div>

            <div class="gallery-works-main-img">
                <a href="images/gallery-work-item-img6.jpg" rel="works-gallery" class="fancybox">
                    <img src="images/gallery-work-item-img6.jpg" alt="" />
                </a>
            </div>

            <div class="paginator">

                <div class="paginator-item prev-page disabled">
                    <a href="#">Назад</a>
                </div>

                <ul class="paginator-item paginator-wrap">
                    <li>
                        <a href="#">1</a>
                    </li>
                    <li>2</li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                </ul>

                <div class="paginator-item next-page">
                    <a href="#">Вперёд</a>
                </div>

            </div>

        </div>

    </div>

</section>
