<div class="gallery-works">

    <div class="breadcrumbs">
        <ul>
            <li><a href="#">Главная</a></li>
            <li>Галерея работ</li>
        </ul>
    </div>

    <h6 class="title">Галерея работ</h6>

    <div class="gallery-works-wrap">

        <div class="gallery-works-main">

            <div class="gallery-works-main-item">
                <div class="gallery-works-main-img">
                    <a href="images/gallery-work-item-img1.jpg" rel="works-gallery" class="fancybox">
                        <img src="images/gallery-work-item-img1.jpg" alt="" />
                    </a>
                </div>
                <div class="gallery-works-main-img">
                    <a href="images/gallery-work-item-img2.jpg" rel="works-gallery" class="fancybox">
                        <img src="images/gallery-work-item-img2.jpg" alt="" />
                    </a>
                </div>
            </div>
            <div class="gallery-works-main-item">
                <div class="gallery-works-main-img">
                    <a href="images/gallery-work-item-img3.jpg" rel="works-gallery" class="fancybox">
                        <img src="images/gallery-work-item-img3.jpg" alt="" />
                    </a>
                </div>
                <div class="gallery-works-main-img">
                    <a href="images/gallery-work-item-img4.jpg" rel="works-gallery" class="fancybox">
                        <img src="images/gallery-work-item-img4.jpg" alt="" />
                    </a>
                </div>
            </div>
            <div class="gallery-works-main-item">
                <div class="gallery-works-main-img">
                    <a href="images/gallery-work-item-img5.jpg" rel="works-gallery" class="fancybox">
                        <img src="images/gallery-work-item-img5.jpg" alt="" />
                    </a>
                </div>
                <div class="gallery-works-main-img">
                    <a href="images/gallery-work-item-img6.jpg" rel="works-gallery" class="fancybox">
                        <img src="images/gallery-work-item-img6.jpg" alt="" />
                    </a>
                </div>
            </div>

            <div class="gallery-works-main-item">
                <div class="gallery-works-main-img">
                    <a href="images/gallery-work-item-img1.jpg" rel="works-gallery" class="fancybox">
                        <img src="images/gallery-work-item-img1.jpg" alt="" />
                    </a>
                </div>
                <div class="gallery-works-main-img">
                    <a href="images/gallery-work-item-img2.jpg" rel="works-gallery" class="fancybox">
                        <img src="images/gallery-work-item-img2.jpg" alt="" />
                    </a>
                </div>
            </div>
            <div class="gallery-works-main-item">
                <div class="gallery-works-main-img">
                    <a href="images/gallery-work-item-img3.jpg" rel="works-gallery" class="fancybox">
                        <img src="images/gallery-work-item-img3.jpg" alt="" />
                    </a>
                </div>
                <div class="gallery-works-main-img">
                    <a href="images/gallery-work-item-img4.jpg" rel="works-gallery" class="fancybox">
                        <img src="images/gallery-work-item-img4.jpg" alt="" />
                    </a>
                </div>
            </div>
            <div class="gallery-works-main-item">
                <div class="gallery-works-main-img">
                    <a href="images/gallery-work-item-img5.jpg" rel="works-gallery" class="fancybox">
                        <img src="images/gallery-work-item-img5.jpg" alt="" />
                    </a>
                </div>
                <div class="gallery-works-main-img">
                    <a href="images/gallery-work-item-img6.jpg" rel="works-gallery" class="fancybox">
                        <img src="images/gallery-work-item-img6.jpg" alt="" />
                    </a>
                </div>
            </div>

            <div class="gallery-works-main-item">
                <div class="gallery-works-main-img">
                    <a href="images/gallery-work-item-img1.jpg" rel="works-gallery" class="fancybox">
                        <img src="images/gallery-work-item-img1.jpg" alt="" />
                    </a>
                </div>
                <div class="gallery-works-main-img">
                    <a href="images/gallery-work-item-img2.jpg" rel="works-gallery" class="fancybox">
                        <img src="images/gallery-work-item-img2.jpg" alt="" />
                    </a>
                </div>
            </div>
            <div class="gallery-works-main-item">
                <div class="gallery-works-main-img">
                    <a href="images/gallery-work-item-img3.jpg" rel="works-gallery" class="fancybox">
                        <img src="images/gallery-work-item-img3.jpg" alt="" />
                    </a>
                </div>
                <div class="gallery-works-main-img">
                    <a href="images/gallery-work-item-img4.jpg" rel="works-gallery" class="fancybox">
                        <img src="images/gallery-work-item-img4.jpg" alt="" />
                    </a>
                </div>
            </div>
            <div class="gallery-works-main-item">
                <div class="gallery-works-main-img">
                    <a href="images/gallery-work-item-img5.jpg" rel="works-gallery" class="fancybox">
                        <img src="images/gallery-work-item-img5.jpg" alt="" />
                    </a>
                </div>
                <div class="gallery-works-main-img">
                    <a href="images/gallery-work-item-img6.jpg" rel="works-gallery" class="fancybox">
                        <img src="images/gallery-work-item-img6.jpg" alt="" />
                    </a>
                </div>
            </div>

            <div class="gallery-works-main-item">
                <div class="gallery-works-main-img">
                    <a href="images/gallery-work-item-img1.jpg" rel="works-gallery" class="fancybox">
                        <img src="images/gallery-work-item-img1.jpg" alt="" />
                    </a>
                </div>
                <div class="gallery-works-main-img">
                    <a href="images/gallery-work-item-img2.jpg" rel="works-gallery" class="fancybox">
                        <img src="images/gallery-work-item-img2.jpg" alt="" />
                    </a>
                </div>
            </div>
            <div class="gallery-works-main-item">
                <div class="gallery-works-main-img">
                    <a href="images/gallery-work-item-img3.jpg" rel="works-gallery" class="fancybox">
                        <img src="images/gallery-work-item-img3.jpg" alt="" />
                    </a>
                </div>
                <div class="gallery-works-main-img">
                    <a href="images/gallery-work-item-img4.jpg" rel="works-gallery" class="fancybox">
                        <img src="images/gallery-work-item-img4.jpg" alt="" />
                    </a>
                </div>
            </div>
            <div class="gallery-works-main-item">
                <div class="gallery-works-main-img">
                    <a href="images/gallery-work-item-img5.jpg" rel="works-gallery" class="fancybox">
                        <img src="images/gallery-work-item-img5.jpg" alt="" />
                    </a>
                </div>
                <div class="gallery-works-main-img">
                    <a href="images/gallery-work-item-img6.jpg" rel="works-gallery" class="fancybox">
                        <img src="images/gallery-work-item-img6.jpg" alt="" />
                    </a>
                </div>
            </div>

        </div>

    </div>

</div>