<!-- HEADER -->
<header>
    <div class="header-align">

        <div class="header-wrap">
            <div class="mbox">
                <div class="txt">
                    <p><b>+7 (495) 454-33-44</b></p>
                    <p>Часы работы 08:00 - 20:00</p>
                </div>
                <a href="#call-popup" class="buttonA fancybox-backcall"><span>Заказать звонок</span></a>
            </div>
        </div>
        <nav>
            <div class="nav-wrap">
                <div class="nav-align mbox">
                    <div class="logo"><img src="images/logo.png" alt=""></div>
                    <div class="butter"><p></p><p></p><p></p></div>
                    <ul>
                        <li><a href="#">ГЛАВНАЯ</a></li>
                        <li><a href="#">О КОМПАНИИ</a></li>
                        <li><a href="#">ИЩЕМ ПАРТНЕРОВ</a></li>
                        <li><a href="#">ГАЛЕРЕЯ РАБОТ</a></li>
                        <li><a href="#">ДИЗАЙНЕРАМ</a></li>
                        <li><a href="#">КОНТАКТЫ</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

<!-- /HEADER -->

