<div class="hidden-block">

    <div id="call_success">
        <div class="call-success">
             <div class="call_success">
                 <div class="call-title">Спасибо за заявку!</div>
                 <div class="call-subtitle">Мы свяжемся с Вами в ближайшее время</div>
             </div>
        </div>
    </div>

    <div id="call-popup" class="call-popup">
        <h6 class="title">ЗАКАЗАТЬ ЗВОНОК</h6>
        <form action="ajax.php" class="contact-form form">
            <div class="form-row-wrap">
                <div class="form_row">
                    <div class="form_input">
                        <input type="text" name="userName" required="required" placeholder="Имя">
                    </div>
                </div>
            </div>
            <div class="form-row-wrap">
                <div class="form_row">
                    <div class="form_input">
                        <input type="text" name="userSecondName" required="required" placeholder="Фимилия">
                    </div>
                </div>
            </div>
            <div class="form-row-wrap">
                <div class="form_row">
                    <div class="form_input">
                        <input type="text" name="userEmail" required="required" placeholder="E-mail">
                    </div>
                </div>
            </div>
            <div class="form-row-wrap">
                <div class="form_row">
                    <div class="form_input">
                        <input type="text" name="userTelefone" required="required" placeholder="Телефон" class="tel-mask">
                    </div>
                </div>
            </div>
            <div class="form-row-wrap submit-row">
                <div class="form-row">
                    <button type="submit" class="button">
                        <span>Заказать</span>
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>