<div class="items-shpon">
    <div class="items-shpon-row">
        <div class="items-shpon-title">
            <span>ОСНОВНЫЕ ЦВЕТА ШПОНА ДУБ</span>
        </div>
        <div class="item-shpon-row">
            <div class="item-shpon-row-wrap">
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-1.jpg" class="fancybox" rel="group-1">
                        <img src="images/item-shpon-item-1.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-2.jpg" class="fancybox" rel="group-1">
                        <img src="images/item-shpon-item-2.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-3.jpg" class="fancybox" rel="group-1">
                        <img src="images/item-shpon-item-3.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-4.jpg" class="fancybox" rel="group-1">
                        <img src="images/item-shpon-item-4.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-5.jpg" class="fancybox" rel="group-1">
                        <img src="images/item-shpon-item-5.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-6.jpg" class="fancybox" rel="group-1">
                        <img src="images/item-shpon-item-6.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-7.jpg" class="fancybox" rel="group-1">
                        <img src="images/item-shpon-item-7.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-8.jpg" class="fancybox" rel="group-1">
                        <img src="images/item-shpon-item-8.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-9.jpg" class="fancybox" rel="group-1">
                        <img src="images/item-shpon-item-9.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="items-shpon-row">
        <div class="items-shpon-title">
            <span>ОСНОВНЫЕ ПОРОДЫ ШПОНА</span>
        </div>
        <div class="item-shpon-row">
            <div class="item-shpon-row-wrap">
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-1.jpg" class="fancybox" rel="group-2">
                        <img src="images/item-shpon-item-1.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-2.jpg" class="fancybox" rel="group-2">
                        <img src="images/item-shpon-item-2.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-3.jpg" class="fancybox" rel="group-2">
                        <img src="images/item-shpon-item-3.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-4.jpg" class="fancybox" rel="group-2">
                        <img src="images/item-shpon-item-4.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="items-shpon-row">
        <div class="items-shpon-title">
            <span>ОСНОВНЫЕ ВАРИАНТЫ ШПОНА ФАЙН-ЛАЙН</span>
        </div>
        <div class="item-shpon-row">
            <div class="item-shpon-row-wrap">
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-1.jpg" class="fancybox" rel="group-3">
                        <img src="images/item-shpon-item-1.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-2.jpg" class="fancybox" rel="group-3">
                        <img src="images/item-shpon-item-2.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-3.jpg" class="fancybox" rel="group-3">
                        <img src="images/item-shpon-item-3.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-4.jpg" class="fancybox" rel="group-3">
                        <img src="images/item-shpon-item-4.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-5.jpg" class="fancybox" rel="group-3">
                        <img src="images/item-shpon-item-5.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-6.jpg" class="fancybox" rel="group-3">
                        <img src="images/item-shpon-item-6.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-7.jpg" class="fancybox" rel="group-3">
                        <img src="images/item-shpon-item-7.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-8.jpg" class="fancybox" rel="group-3">
                        <img src="images/item-shpon-item-8.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-9.jpg" class="fancybox" rel="group-3">
                        <img src="images/item-shpon-item-9.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-1.jpg" class="fancybox" rel="group-3">
                        <img src="images/item-shpon-item-1.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-2.jpg" class="fancybox" rel="group-3">
                        <img src="images/item-shpon-item-2.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-3.jpg" class="fancybox" rel="group-3">
                        <img src="images/item-shpon-item-3.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-4.jpg" class="fancybox" rel="group-3">
                        <img src="images/item-shpon-item-4.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-5.jpg" class="fancybox" rel="group-3">
                        <img src="images/item-shpon-item-5.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-6.jpg" class="fancybox" rel="group-3">
                        <img src="images/item-shpon-item-6.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-7.jpg" class="fancybox" rel="group-3">
                        <img src="images/item-shpon-item-7.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-8.jpg" class="fancybox" rel="group-3">
                        <img src="images/item-shpon-item-8.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-9.jpg" class="fancybox" rel="group-3">
                        <img src="images/item-shpon-item-9.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <a href="#"><span>Смотреть дополнительные варианты отделки шпона файн-лайн</span></a>
    </div>
    <div class="items-shpon-row">
        <div class="items-shpon-title">
            <span>ОСНОВНЫЕ ВАРИАНТЫ ПЛЕНКИ PVC</span>
        </div>
        <div class="item-shpon-row">
            <div class="item-shpon-row-wrap">
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-1.jpg" class="fancybox" rel="group-4">
                        <img src="images/item-shpon-item-1.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-2.jpg" class="fancybox" rel="group-4">
                        <img src="images/item-shpon-item-2.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-3.jpg" class="fancybox" rel="group-4">
                        <img src="images/item-shpon-item-3.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-4.jpg" class="fancybox" rel="group-4">
                        <img src="images/item-shpon-item-4.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-5.jpg" class="fancybox" rel="group-4">
                        <img src="images/item-shpon-item-5.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-6.jpg" class="fancybox" rel="group-4">
                        <img src="images/item-shpon-item-6.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-7.jpg" class="fancybox" rel="group-4">
                        <img src="images/item-shpon-item-7.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-8.jpg" class="fancybox" rel="group-4">
                        <img src="images/item-shpon-item-8.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-9.jpg" class="fancybox" rel="group-4">
                        <img src="images/item-shpon-item-2.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-1.jpg" class="fancybox" rel="group-4">
                        <img src="images/item-shpon-item-1.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-2.jpg" class="fancybox" rel="group-4">
                        <img src="images/item-shpon-item-2.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-3.jpg" class="fancybox" rel="group-4">
                        <img src="images/item-shpon-item-3.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-4.jpg" class="fancybox" rel="group-4">
                        <img src="images/item-shpon-item-4.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-5.jpg" class="fancybox" rel="group-4">
                        <img src="images/item-shpon-item-5.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-6.jpg" class="fancybox" rel="group-4">
                        <img src="images/item-shpon-item-6.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-7.jpg" class="fancybox" rel="group-4">
                        <img src="images/item-shpon-item-7.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-8.jpg" class="fancybox" rel="group-4">
                        <img src="images/item-shpon-item-8.jpg" alt="">
                    </a>
                </div>
                <div class="item-shpon-item">
                    <a href="images/item-shpon-item-9.jpg" class="fancybox" rel="group-4">
                        <img src="images/item-shpon-item-9.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <a href="#"><span>Смотреть дополнительные варианты отделки шпона файн-лайн</span></a>
    </div>
</div>