<div class="main-bottom">
    <div class="mbox">
        <div class="main-bottom-title">
            5 основных преимуществ работать с нами
        </div>
        <div class="main-bottom-row cfix">
            <div class="main-bottom-item">
                <div class="main-bottom-wrap">
                    <div class="main-bottom-img"><img src="images/main-bottom-img-1.png" alt=""></div>
                    <div class="main-bottom-text"><span>Лучшие дизайнерские коллекции</span></div>
                </div>
            </div>
            <div class="main-bottom-item">
                <div class="main-bottom-wrap">
                    <div class="main-bottom-img"><img src="images/main-bottom-img-2.png" alt=""></div>
                    <div class="main-bottom-text"><span>Самые низкие цены,<br>ниже не бывает</span></div>
                </div>
            </div>
            <div class="main-bottom-item">
                <div class="main-bottom-wrap">
                    <div class="main-bottom-img"><img src="images/main-bottom-img-3.png" alt=""></div>
                    <div class="main-bottom-text"><span>Все цвета радуги на ваш выбор</span></div>
                </div>
            </div>
            <div class="main-bottom-item">
                <div class="main-bottom-wrap">
                    <div class="main-bottom-img"><img src="images/main-bottom-img-4.png" alt=""></div>
                    <div class="main-bottom-text"><span>Профессиональное<br>качество</span></div>
                </div>
            </div>
            <div class="main-bottom-item">
                <div class="main-bottom-wrap">
                    <div class="main-bottom-img"><img src="images/main-bottom-img-5.png" alt=""></div>
                    <div class="main-bottom-text"><span>Моментальная доставка<br>в день оплаты</span></div>
                </div>
            </div>
        </div>
    </div>
</div>