<div class="main-texter">
    <div class="mbox">

        <div class="title">О компании</div>

        <div class="main-texter-wrap">

            <div class="main-texter-main text-block">
<!--
                <p>
                    <span style="font-weight:500;color:#140f0c;font-size:16px;">Дизайн-панели Шах 3D используются для декорирования различных интерьеров, будь-то гостинная, спальня или детская комната. Отличительной особенностью дизайн-панелей  Шах 3D является наличие объемного формованного рисунка.</span>
                </p>
                <br />
                <p>
                    <span style="font-weight:500;color:#764521;font-size:16px;">Индивидуальный подход ко всем клиентам</span>
                </p>
                <p>Обратите внимание, что ко всем клиентам мы подбираем исключительно индивидуальный подход, а также индивидуальное изготовление изделий. Благодаря наличию собственного производства, наша продукция отличается отличным качеством и лояльными ценами, более выгодными, чем зарубежные аналоги. Кроме этого, при обнаружении брака, мы предоставляем возможность замены изделия.</p>
                <br />
                <p>
                    <span style="font-weight:500;color:#764521;font-size:16px;">Высокое качество сырья</span>
                </p>
                <p>Отдельным пунктом стоит выделить высококачетсвенное качество сырья, из которого изготавливаются дизайн-панели. Наши изделия выполнены из первичного пластика, который является жаропрочным и легким при транспортировке.</p>
                <br />
                <p>
                    <span style="font-weight:500;color:#764521;font-size:16px;">Закажите дизайн-панели «Шах 3D уже сейчас!</span>
                </p>
                <p>Выбрав понравившуюся дизайн-панель, офромляйте заказ на сайте и получайте быструю, а главное, бесплатную</p>

            </div>

            <div class="main-texter-images">
                <div class="main-texter-image-wrap">
                    <img src="images/main-texter-img1.jpg" alt="" />
                </div>
                <div class="main-texter-image-wrap">
                    <img src="images/main-texter-img2.jpg" alt="" />
                </div>
            </div> -->

            <p><img class="size-medium wp-image-102 alignright" src="images/main-texter-img2.jpg" alt="main-texter-img2" width="225" height="156">Дизайн-панели Шах 3D используются для декорирования различных интерьеров, будь-то гостинная, спальня или детская комната. Отличительной особенностью дизайн-панелей Шах 3D является наличие объемного формованного рисунка.<br>
                <span style="font-weight: 500; color: #764521; font-size: 16px;">Индивидуальный подход ко всем клиентам</span>
            </p>
            <p>Обратите внимание, что ко всем клиентам мы подбираем исключительно индивидуальный подход, а также индивидуальное изготовление изделий. Благодаря наличию собственного производства, наша продукция отличается отличным качеством и лояльными ценами, более выгодными, чем зарубежные аналоги. Кроме этого, при обнаружении брака, мы предоставляем возможность замены изделия.</p>
            <p><span style="font-weight: 500; color: #764521; font-size: 16px;">Высокое качество сырья</span><br>
                <img class="size-full wp-image-101 alignright" src="images/main-texter-img1.jpg" alt="main-texter-img1" width="225" height="156"><br>
                Отдельным пунктом стоит выделить высококачетсвенное качество сырья, из которого изготавливаются дизайн-панели. Наши изделия выполнены из первичного пластика, который является жаропрочным и легким при транспортировке.
            </p>
            <p>&nbsp;</p>
            <p><span style="font-weight: 500; color: #764521; font-size: 16px;">Закажите дизайн-панели «Шах 3D уже сейчас!</span></p>
            <p>Выбрав понравившуюся дизайн-панель, офромляйте заказ на сайте и получайте быструю, а главное, бесплатную</p>

        </div>
    </div>
</div>