<div class="main-menu cfix">
    <div class="menu-tab">
        <ul>
            <li class="active"><a href="#"><span>КОЛЛЕКЦИЯ RELIF</span></a></li>
            <li><a href="#"><span>КОЛЛЕКЦИЯ GEOMETRICA</span></a></li>
            <li><a href="#"><span>КОЛЛЕКЦИЯ CANYON</span></a></li>
            <li><a href="#"><span>КОЛЛЕКЦИЯ CITY</span></a></li>
            <li><a href="#"><span>КОЛЛЕКЦИЯ 3D VISION</span></a></li>
            <li><a href="#"><span>КОЛЛЕКЦИЯ SOLID FIGURES</span></a></li>
            <li><a href="#"><span>ЭЛЕМЕНТЫ ИНТЕРЬЕРА</span></a></li>
        </ul>
    </div>
    <div class="main-center">
        <ul>
            <li class="active"><img src="images/main-center-1.png" alt=""></li>
            <li><img src="images/main-center-2.png" alt=""></li>
            <li><img src="images/main-center-3.png" alt=""></li>
            <li><img src="images/main-center-1.png" alt=""></li>
            <li><img src="images/main-center-2.png" alt=""></li>
            <li><img src="images/main-center-3.png" alt=""></li>
            <li><img src="images/main-center-1.png" alt=""></li>
        </ul>
    </div>
    <div class="main-cub">
        <div class="cub-item">
            <a href="#">
                <div class="cub-item-img">
                    <img src="images/cub-item-img-1.png" alt="">
                </div>
                <div class="cub-item-text">
                    <p>Преимущества перед гипсовыми стендовыми панелями</p>
                </div>
            </a>
        </div>
        <div class="cub-item">
            <a href="#">
                <div class="cub-item-img">
                    <img src="images/cub-item-img-2.png" alt="">
                </div>
                <div class="cub-item-text">
                    <p>О модульных стеновых панелях</p>
                </div>
            </a>
        </div>
    </div>
</div>