<div class="main-bottom">
    <div class="mbox">
        <div class="main-bottom-title">
            5 основных преимуществ работать с нами
        </div>
        <div class="main-bottom-row cfix">
            <div class="main-bottom-item">
                <div class="main-bottom-wrap">
                    <div class="main-bottom-img"><img src="images/main-bottom-img-1.png" alt=""></div>
                    <div class="main-bottom-text"><span>Лучшие дизайны стеновых панелей</span></div>
                </div>
            </div>
            <div class="main-bottom-item">
                <div class="main-bottom-wrap">
                    <div class="main-bottom-img"><img src="images/main-bottom-img-2.png" alt=""></div>
                    <div class="main-bottom-text"><span>Опыт работы с 2006г.,<br>квалифицированный<br>персонал</span></div>
                </div>
            </div>
            <div class="main-bottom-item">
                <div class="main-bottom-wrap">
                    <div class="main-bottom-img"><img src="images/main-bottom-img-3.png" alt=""></div>
                    <div class="main-bottom-text"><span>Без посредников,<br>от производителя – <br><b>ЛУЧШАЯ ЦЕНА</b></span></div>
                </div>
            </div>
            <div class="main-bottom-item">
                <div class="main-bottom-wrap">
                    <div class="main-bottom-img"><img src="images/main-bottom-img-4.png" alt=""></div>
                    <div class="main-bottom-text"><span>Монтаж панелей -<br>проекты под ключ </span></div>
                </div>
            </div>
            <div class="main-bottom-item">
                <div class="main-bottom-wrap">
                    <div class="main-bottom-img"><img src="images/main-bottom-img-5.png" alt=""></div>
                    <div class="main-bottom-text"><span>Панели для любого<br>интерьера</span></div>
                </div>
            </div>
        </div>
    </div>
</div>