@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

    /*style main*/
    .aside{float: none;padding-right: 0;width: 100%;padding-top: 20px;}
    .colection{float: left;width: 100%;}
    .menu-tab:not(.menu-tab-main) {margin:0 auto;position: relative;
        a{text-align: center;}
        &>ul{position: absolute;width: 100%;z-index: 100;top: calc(100% + 5px);display: none;
            li{margin-bottom: 0px;border-bottom: 1px solid white;}
        }
        span{margin: 0 auto;text-align: center;display: block;}

        .menu-tab-mobile{display: block;
            b{display: block;color: #fff;font-weight: 800;font-size: 18px;background-color: #292929;text-decoration: none;line-height: 21px;padding: 9px 5px;position: relative;
                &:after{content: '';position: absolute;height: 10px;width: 10px;border-right: 2px solid white;border-bottom: 2px solid white;transform: rotate(-45deg) translateY(-50%);right: 40px;top: 40%;transition:all ease-out .2s;}
            }
            &.active{
                b:after{transform: rotate(45deg) translateY(-50%);}
            }
        }
    }
    /*/style main*/

    /*main-top*/
    .main-top{background-size: cover;
        .main-menu{padding-top: 10px;}
        .menu-tab{max-width: 100%;float: none;width: 100%;padding-bottom: 25px;
            li{display: inline-block;vertical-align: top;}
        }
        .main-center{float: none;margin:0 auto;
            li{margin:0 auto;}
        }
        .main-cub{float: none;display: block;margin:0 auto;text-align: center;padding-top: 0px;display: none;
            .cub-item{display: inline-block;margin:0 2%;}
        }
    }
    /*/main-top*/

    /*items-shpon*/
    .items-shpon{
        .items-shpon-title{min-width: 0;width: 100%;text-align: center;}
    }
    /*/items-shpon*/
}
@media screen and (max-width: 767px){
    /*main-top*/
    .main-top{
        .main-bottom{background-size: cover;}
        .main-bottom-item{float: none;width: 32%;display: inline-block;vertical-align: top;}
    }
    /*/main-top*/

    /*shpon-variants*/
    .shpon-variants{
        .item-shpon-row .item-shpon-row-wrap{text-align: center;}
    }
    /*/shpon-variants*/
}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){
    /*main-top*/
    .main-top{
        .main-menu{padding-bottom: 20px;}
        .main-bottom{background:black;}
        .main-bottom-item{width: 100%;}
    }
    /*/main-top*/
}
@media screen and (max-width: 320px){
    /*main-top*/
    .main-top{
        .menu-tab a{font-size: 15px;line-height: 18px;
            span{max-width: 133px;}
        }
        .main-bottom .main-bottom-title{font-size: 21px;}
    }
    /*/main-top*/
}