@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

    /* footer */

        .footer{
            .footer-left{
                .footer-contacts{
                    &.footer-mail{margin-right: 0;margin-bottom: 12px;}
                    &.footer-adress{width: 100%}
                }
            }
            .footer-right{padding-top: 20px;}
        }

    /* /footer */

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){

    /* main-texter */

        .main-texter{padding: 30px 0 30px 0;
            .title{margin-bottom: 10px;}
            .main-texter-main{width: 100%;margin-bottom: 20px;}
            .main-texter-images{width: 100%;text-align: center;
                .main-texter-image-wrap{display: inline-block;margin-bottom: 10px;padding: 0 10px;}
            }
        }

    /* /main-texter */

    /* footer */

        .footer{
            .footer-left{float: none;width: 100%;text-align: center;
                .footer-contacts{
                    &.footer-tel{width: 100%;margin-bottom: 10px;margin-right: 0;}
                    &.footer-mail{width: 100%;}
                }
            }
            .footer-right{padding-top: 15px;float: none;text-align: center;width: 100%;}
        }

    /* /footer */

}
@media screen and (max-width: 479px){

    /* text-block */

        .text-block{
            p{
                b, b:first-child, b:last-child{width: 100%;padding: 15px 0;text-align: center;}
            }
        }

    /* /text-block */

}
@media screen and (max-width: 320px){

}