
/*header*/
    @media screen and (max-width: 1024px){
        .header-align{
            .nav-wrap{
                .nav-align{
                    .butter{opacity:1;
                        &.active + ul{transform:scale(1,1); opacity:1;}
                    }
                    ul{ background-color: #333; width:300px; border-radius: 15px; overflow: hidden; right:0; margin-right:25px; transform:scale(1,0); transform-origin:center top; opacity: 0; transition: all 300ms; position: absolute;
                        li{ width:100%; display: block; text-align: center; padding:5px 0 0;}
                    }
                }
            }
        }
    }
    @media screen and (max-width: 768px){
        .header-align{
            .header-wrap{   background-color: rgba(255,255,255,0.8); z-index: 5; position: relative; height: 110px;width:100%; text-align: center; padding-left: 80px;
                .txt{ width:100%; text-align: center; padding-top: 27px;
                    b{font:800 20px/22px 'AvenirNext';}
                }
                .buttonA{position: relative; display: inline-block; top:5px;
                }
            }
            .nav-wrap{
                .nav-align{
                    .logo{top:-92px; width:80px; height: 80px;}
                    .butter{opacity:1;
                        &.active + ul{transform:scale(1,1); opacity:1;}
                    }
                    ul{width:100%;  margin-right:0; transform:scale(1,0); transform-origin:center top; opacity: 0; transition: all 300ms;
                        li{ width:100%; display: block; text-align: center; padding:5px 0 0;}
                    }
                }
            }
        }
    }

/*END header*/
/*colection1*/
    @media screen and (max-width: 740px){
        .colection1{
            .colection-wrap{max-width: 541px;
                .item{
                    .description{width: 540px;}
                }
            }
        }
    }
    @media screen and (max-width: 560px){
        .colection1{
            .colection-wrap{max-width:361px;
                .item{
                    .description{width: 360px;
                        .desc-title{text-align: center;}
                        .module-1{
                            .module-content{
                                table{
                                    td{display: inline-block; width: 100%; }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 400px){
        .colection1{
            .colection-wrap{
                .itemZ-wrap{max-width: 180px;    margin: 0 auto; position:static;}
                 .item .description{border-left: none; border-right: none;}
            }
        }
    }

/*END colection1*/
